langchain
langchain_openai
chromadb
unstructured
python-pptx
python-docx
pypdf
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
langchain_community
PyMuPDF
docx2txt
google-cloud-storage
google.cloud
tenacity
